@model IEnumerable<PoeApp.Models.Venue>

@{
    ViewData["Title"] = "Venue Info";
}

<h1>Venue</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}



<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">
        <i class="bi bi-plus-circle"></i> Create New
    </a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VenueID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>Venue Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VenueID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VenueName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>

                <td>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="@item.ImageUrl" alt="Venue Image" width="100" height="100" style="object-fit:cover; border-radius:12px;" />
                    }

                    else
                    {
                        <span>No Image</span>
                    }
                </td>

                <td class="d-flex justify-content-start">
                    <a asp-action="Edit" asp-route-id="@item.VenueID" class="btn btn-primary btn-sm me-3">
                        Edit
                    </a>
                    <a asp-action="Details" asp-route-id="@item.VenueID" class="btn btn-primary btn-sm me-3">
                        Details
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.VenueID" class="btn btn-primary btn-sm">
                        Delete
                    </a>
                </td>




            </tr>
        }
    </tbody>
</table>