@model IEnumerable<PoeApp.Models.Booking>
@{
    ViewData["Title"] = "Booking Info";
}

<h1>Booking</h1>

<form asp-action="Index" method="get">
    <div class="form-group mb-3">
        <input type="text" name="searchString" class="form-control" placeholder="Search Booking..." value="@Context.Request.Query["searchString"]" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (!ViewData.ModelState.IsValid)
{
    foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
    {
        <div class="alert alert-danger">
            @error.ErrorMessage
        </div>
    }
}

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">
        <i class="bi bi-plus-circle"></i> Create New
    </a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Venue</th>
            <th>Event</th>
            <th>Booking Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.BookingID</td>
                <td>@booking.Venue?.VenueName</td>
                <td>@booking.Event?.EventName</td>
                <td>@booking.BookingDate.ToString("yyyy-MM-dd HH:mm")</td>

                <td class="d-flex justify-content-start">
                    <a asp-action="Edit" asp-route-id="@booking.BookingID" class="btn btn-primary btn-sm me-3">
                        Edit
                    </a>
                    <a asp-action="Details" asp-route-id="@booking.BookingID" class="btn btn-primary btn-sm me-3">
                        Details
                    </a>
                    <a asp-action="Delete" asp-route-id="@booking.BookingID" class="btn btn-primary btn-sm">
                        Delete
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>