@model IEnumerable<PoeApp.Models.Event>

@{
    ViewData["Title"] = "Event Info";
}

<h1>Index</h1>

<form method="get" class="mb-4">
    <div class="row">
        <div class="col-md-3">
            <label>Event Type</Label>
            <select name="searchType" class="form-control">
                <option value="">-- All Types --</option>
                @foreach (var type in (List<EventType>)ViewData["EventTypes"])
                {
                    <option value="@type.Name">@type.Name</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label>Venue</Label>
            <select name="venueId" class="form-control">
                <option value="">-- All Venues --</option>
                @foreach (var venue in (List<Venue>)ViewData["Venue"])
                {
                    <option value="@venue.VenueID">@venue.VenueName</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label>Start Date</label>
            <input type="date" name="startDate" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>End Date</label>
            <input type="date" name="endDate" class="form-control" />
        </div>
    </div>
    <div class="row mt-3">
    <div class="col-md-12 d-flex justify-content-start">
        <button type="submit" class="btn btn-primary btn-sm me-2">
            <i class="bi bi-funnel-fill"></i> Filter
        </button>
        <a href="/Event/Index" class="btn btn-secondary btn-sm">
            <i class="bi bi-x-circle-fill"></i> Clear
        </a>
    </div>
    </div>
</form>


@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">
        <i class="bi bi-plus-circle"></i> Create New
    </a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue.VenueName)
                </td>

                <td class="d-flex justify-content-start">
                    <a asp-action="Edit" asp-route-id="@item.EventID" class="btn btn-primary btn-sm me-3">
                        Edit
                    </a>
                    <a asp-action="Details" asp-route-id="@item.EventID" class="btn btn-primary btn-sm me-3">
                        Details
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.EventID" class="btn btn-primary btn-sm">
                        Delete
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>